# Database Configuration
DB_USERNAME=mailcraft
DB_PASSWORD=password_craft
DB_NAME=mailcraft_db

# Authentication
JWT_SECRET_KEY=your_jwt_secret_key_here

# Api
BACK_END_URI=http://localhost:4000/graphql

# Server d'upload
CLOUD_NAME=dyhn66mah
CLOUDINARY_KEY=413487998496131
CLOUDINARY_SECRET_KEY=cfOpkGy0EiU_Y_QHo2INW7a00Zo
UPLOAD_FOLDER=Mailcraft

# URL's
FRONT_END_URL=http://localhost:3000
EXPRESS_API=http://localhost:5000

# Mailing
MAILCRAFT_GMAIL= # gmail username
MAILCRAFT_GMAIL_PASSWORD= # gmail password
SENDGRID_API_KEY= # sendgrid key

# TinyMCE
NEXT_PUBLIC_TINYMCE_API_KEY= # tinymce key

# Local docker-compose file to use
COMPOSE_FILE=docker-compose.dev.yml

# AWS EC2
EC2_HOST= # add EC2 host name
EC2_USER= # add EC2 user
EC2_KEY_PATH=$HOME/.ssh/mailcraft_key.pem # path to the ssh key
PROJECT_PATH= # path of the project on local machine
REMOTE_PATH=./mailcraft